.button
{
    -fx-background-radius: 10,10,10;
}
/* TRANSACTION TAB BUTTONS */
.button {
    /* Radial gradient */
    -fx-background-color: #000133;
    -fx-text-fill: white;
}
.button:hover {
    -fx-background-color: #cc5500;  /* Darker background color when hovered */
    -fx-text-fill: white;           /* Text color when hovered */
    -fx-cursor: hand;               /* Change cursor to hand pointer when hovered */
}

/* FOR COMBOBOX */
/* Style for ComboBox dropdown list items */
.combo-box .list-cell {
    -fx-background-color: #000133;  /* Background color for dropdown items */
    -fx-text-fill: white;           /* Text color for dropdown items */
}
.combo-box {
    /* Radial gradient */
    -fx-background-color: #000133;
    -fx-text-fill: white;
}
.combo-box:hover {
    /* Radial gradient */
    -fx-background-color: #cc5500;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.combo-box .list-cell:hover {
    -fx-background-color: #cc5500;  /* Background color when hovering */
    -fx-text-fill: white;           /* Text color when hovering */
    -fx-cursor: hand;
}

/* FOR TABLE VIEW */
.table-row-cell:even {
    -fx-background-color: #FFFFFF ;
}

.table-row-cell:odd {
    -fx-background-color:  #F1F4FD  ;
}

.column-header {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.table-row-cell:selected {
    -fx-background-color:  #1D224E ;
}